*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 208, 208);
}
.slider{
  position: relative;
  width: 40%;
  overflow: hidden;

}
.images{
  display: flex;
  width: 100%;
  gap: 100px;
  
}
.images img{
  width: 100%;
  height: auto;
  transition: all 0.15s ease;

}
.images input{
  display: none;
}
.dots{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label{
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid white 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 10px;
  padding: 15px;
  

}
.dots label:hover{
  background: white;

}
#img-1:checked ~ .m1{
  margin-left: 0;
} 
#img-2:checked ~ .m2{
  margin-left: -100%;
} 
#img-3:checked ~ .m3{
  margin-left: -200%;
} 